{% extends 'layout.html' %}

{% block title %}Index{% endblock %}

{% block content %}
<div class="container mt-5">
  <div class="card">
    <div class="card-header d-flex justify-content-between align-items-center">
      <span>Todo List</span>
      <a href="{{ url_for('create') }}" class="btn btn-primary">Add</a>
    </div>
    <div class="container">
        {% with messages = get_flashed_messages() %}
            {% if messages %}
                {% for message in messages %}
                    <li class="alert">
                      <span class="text-danger">{{ message }}</span>
                    </li>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <div class="card-body">
      <ul class="list-group">
      {% for todo in todos %}
        <li class="list-group-item">
          <div class="d-flex justify-content-between align-items-center">
            <div>
              <h5 class="mb-1">{{ todo['title'] }}</h5>
              <p class="mb-1">{{ todo['description'] }}</p>
              {% if todo['status'] == 'pending' %}
                <span class="badge badge-secondary">{{todo['status']}}</span>
              {% elif todo['status'] == 'canceled' %}
                <span class="badge badge-warning">{{todo['status']}}</span>
              {% else %}
                <span class="badge badge-success">{{todo['status']}}</span>
              {% endif %}
              <p class="mb-1">{{ todo['due_to'] }}</p>
            </div>
            <div>
              <form action="{{ url_for('done', id=todo.id) }}" method="post" style="display: inline;">
                  <button type="submit" class="btn btn-success btn-sm mr-2" {{ 'disabled' if todo['status'] == 'done' }} >Done</button>
              </form>
              <form action="{{ url_for('cancel', id=todo.id) }}" method="post" style="display: inline;">
                  <button type="submit" class="btn btn-warning btn-sm mr-2" {{ 'disabled' if todo['status'] == 'canceled' }}>Cancel</button>
              </form>
              <form action="{{ url_for('edit', id=todo.id) }}" method="GET" style="display: inline;">
                  <button type="submit" class="btn btn-primary btn-sm mr-2">Edit</button>
              </form>
              <form action="{{ url_for('delete', id=todo.id) }}" method="post" style="display: inline;">
                  <button type="submit" class="btn btn-danger btn-sm mr-2">Delete</button>
              </form>
          </div>
          </div>
        </li>
        {% endfor %}
      </ul>
    </div>
    <div class="card-footer">
      <div class="card-header d-flex justify-content-between align-items-center">
        <span>Bulk Actions</span>
        <div style="border: 1px solid #ccc; padding: 10px; border-radius: 5px; background-color: #f9f9f9;">
          <form action="{{ url_for('upload') }}" method="post" enctype="multipart/form-data">
          <input type="file" name="file" accept=".csv">
          <button type="submit" class="btn btn-info btn-sm">Upload CSV</button>
        </form>
        </div>
        <a href="{{ url_for('download') }}" >Download (.csv)</a>
      </div>
    </div>
  </div>
</div>

{% endblock %}